
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/app.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/menucss.css")" rel="stylesheet" />
</head>
<body>
    <main>
        <nav id="menu">
            <div id='cssmenu'>
                <ul>
                    <li class='active'><a href='#'>Home</a></li>
                    <li><a href='#'>Products</a></li>
                    <li><a href='#'>Company</a></li>
                    <li><a href='#'>Contact</a></li>
                </ul>
            </div>
        </nav>
        <div id="conteudo">
            @RenderBody()
        </div>
        <footer id="rodape">
            <p id="direitos">
                &copy; 2015 - Todos os direitos resevados.<br />
                Desenvolvidores:<br />
                <em>
                    Aline Narumi Oshiro<br />
                    Henrique Fernandes da Silva
                </em>
            </p>
        </footer>
    </main>
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/menujs.js")"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
